<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>Incode</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <style>.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 24px;
  margin: 0;
}
    </style>
    <script type="module" crossorigin src="/assets/index.e7c7cdaa.js"></script>
    <link rel="stylesheet" href="/assets/index.16c89c5b.css">
  </head>

  <body>
    <noscript>No JavaScript</noscript>
    <div id="root" class="root"></div>
    
  </body>
</html>
